doctype html
html(class="no-js" lang="ru")
	head
		meta(charset="utf-8")
		title MailPost
		meta(name="description")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(property="og:image" content="path/to/image.jpg")

		<!-- bower:css -->
		<!-- endbower -->

		link(rel="stylesheet" href="css/fonts.min.css")
		link(rel="stylesheet" href="css/main.min.css")
		link(rel="stylesheet" href="css/media.min.css")
	body
		
		//- include template/header.html
		.hidden
	
	<!-- bower:js -->
	<!-- endbower -->

	<!-- Load Scripts Start -->
	script(src="js/libs.min.js")
	script(src="js/main.min.js")
	<!-- Load Scripts End -->
